.responsive-table {
    /* display: block !important;
    width: 100% !important;
    overflow-x: auto !important; */
  }
.table-header{
    background-color:  #DAEEEF;
    font-weight: bold;
}

.t-cell{
    font-size: 18px !important;
    font-weight: bold !important;
    color : #43425D !important;
    letter-spacing: 0px;
    opacity: 1;
    border-right-width: 0.1;
    border-right-color : rgba(224, 224, 224, 1);
    border-right-style: solid
}

.t-body-cell{
    font-size: 16px !important;
    font-weight: bold !important;
    letter-spacing: 0px !important;
    color: #202E43 !important;
    opacity: 1;
    border-right-width: 0.1;
    border-right-color : rgba(224, 224, 224, 1);
    border-right-style: solid;
    padding : 18px !important;
}

.file-class{
    font-size: 18px !important;
    font-weight: bold !important;
    letter-spacing: 0px !important;
    opacity: 1;
    color : #004A8A !important;
    padding : 18px !important;
}
.add-title{
    /* margin-right :  35px !important; */
    font-size:1.3em;
    color : #75859D !important;
    font-weight: 600 !important;
}
.add-icon{
    color : #202E43 !important;
}
.select-item{
    font-size: 19px !important;
    font-weight: bold !important;
    border : 0px  !important;
}

.select-input{
    border-radius : 10;
    border-color : #707070;
    border-width : 4;
    border : 0px  !important;
}